.day {
  display: flex;
  background-color: DodgerBlue;
  padding: 10px;
  gap: 10px;
}

.day > div {
  background-color: WhiteSmoke;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  flex: 1;
  font-family: Arial, sans-serif;
}

p {
  font-family: "Times New Roman", Times, serif;
  margin-top: 15px;
}
