div {
    width: 70%; 
    margin: 30px auto; 
    padding: 20px; 
    border-style: double; 
    border-width: 8px; 
    
    text-align: center; 
    
    font-family: 'Verdana', sans-serif; 
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

#vung1 {
    border-color: black; 
    background-color: green; 
}

#vung2 {
    border-color: red; 
    background-color: white; 
}

#vung3 {
    border-color: orange; 
    background-color: blue; 
}

.vung-image {
    max-width: 90%; 
    height: auto; 
    margin-top: 15px; 
    border: 3px dotted #6c757d; 
    border-radius: 5px;
}
