* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightgray;
}

.container {
    width: 700px;
    height: 400px;
    display: flex;
    border: 1px solid black;
    background-color: white;
}

.sidebar {
    width: 30%;
    background-color: whitesmoke;
    border-right: 1px solid silver;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 20px;
    color: black;
}

.sidebar li.active {
    background-color: gray;
    color: white;           
}

.content {
    width: 70%;
    padding: 30px;
    color: black; 
}

.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content h3 {
    margin-bottom: 15px;
}

.content ol {
    margin-left: 40px;
}

