* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkgray; 
}

.container {
    width: 900px;
    height: 600px;
    display: flex;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.sidebar {
    width: 25%;
    background-color: whitesmoke;
    border-right: 1px solid silver;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 20px;
    color: black;
    border-bottom: 1px solid black; 
}

.sidebar li.active {
    background-color: gray;
    color: white;           
}

.content {
    width: 75%;
    padding: 40px;
    color: black; 
}

.content h1 {
    font-size: 28px;
    margin-bottom: 25px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.content ol {
    margin-left: 50px;
    line-height: 2; 
}
